
<!-- * Layouts / Partials / HOAB-SiteHeader.html -->

<div class="hoab-site-header-01">
  <div class="hoab-site-header-01-logo" style="margin-left: 20px;">
    <a href="/"><img src="/images/SiteWide/HeartLogo3_cr.png" height="100%" width="100%"></a>
  </div>
  <div class="hoab-site-header-01-navigation">
    <div class="hoab-alt-navbar">
      ● <a href="/From-The-East/index.html">From The East</a> &nbsp; 
      ● <a href="/From-The-West/index.html">From The West</a> &nbsp; 
      ● <a href="/Readings/index.html">Readings</a><br>

      ● <a href="/Reference/index.html">Reference</a> &nbsp; 
      ● <a href="/Reflections/index.html">Reflections</a> &nbsp; 
      ● <a href="/Schools/index.html">Schools</a> &nbsp; 
      ● <a href="/About/index.html">About</a>
    </div>
  </div>
</div>
