
<raised-content-box class="rcb-shadow-upper-left">

  <div class="spacer-4rem"> </div>

  <section>
    <table class="gqpost-table" style="width:100%">

      <tr>
        <td>
          <!-- sanskritblock -->
          <div class="Sanskrit-Block">
            <div class="Sanskrit-Text">
              {{ .Params.Post_Sanskrit_Text }}
            </div>
            <div class="Sanskrit-Text-Translation">
              {{ .Params.Post_Sanskrit_Translation }}
            </div>
          </div> 
        </td>
        <td rowspan="6">
            <img id="j99-img" src="/From-The-East/The-Godly-Qualities/images/Fearless-Cliff-Diving-cr.jpg"> <!-- 570 * 858 -->
        </td>

      </tr>
      <tr><td>
          <div class="standard-quote-text">
            God made sense turn outward, man therefore looks outward,<br>not into himself.<br>
            Now and again a daring soul, desiring immortality,<br>has looked back and found himself.<br>
          </div>
      </td></tr>

      <tr><td>
          <div class="standard-quote-source">
            Katha Upanishad 2.1.1
          </div>
      </td></tr>

      <tr><td>
          <div class="default-paragraph-text  k99-margin-left-right-20">
            It is perhaps no surprise that Krishna’s recitation of the Godly Qualities begins with fearlessness. For what chance do we have to fly if we refuse to leave our nest? To love if we do not let someone into our heart? To discover who we truly are unless we take that first step?
          </div>
      </td></tr>

      <tr><td>
          <div class="default-paragraph-text  k99-margin-left-right-20">
            While the verses below (from Matthew 25) may convey the same sentiment, let us first look at some modern wisdom on the subject of fearlessness.
          </div>
      </td></tr>

      <tr><td>
          <raised-content-box class="rcb-shadow-upper-left">
            <div class="default-paragraph-text">
              “…the only thing we have to fear is… fear itself — nameless, unreasoning unjustified terror which paralyzes needed efforts to convert retreat into advance.”
            </div>
            <div class="default-paragraph-text">
              “Fear keeps us focused on the past or worried about the future. If we can acknowledge our fear, we can realize that right now we are okay. Right now, today, we are still alive, and our bodies are working marvelously. Our eyes can still see the beautiful sky. Our ears can still hear the voices of our loved ones.”
            </div>
            <div class="default-paragraph-text">
              “You miss 100% of the pitches you don’t swing at“
            </div>
          </raised-content-box>
      </td></tr>

    </table>
  </section>
  <br><hr><br>
  <div class="default-paragraph-text  k99-margin-left-right-20">
    As with many of the parables of Jesus; more than one lesson can be learned from each. In keeping with the theme of fearlessness, let us look at the actions of those who live their lives to the fullest, those who live as best they can do in their circumstances and contrast their actions to those who live paralyzed by fear.
  </div>
  <div class="spacer-3rem"> </div>

  <div class="bible-quote-text  bible-quote-verses ">
    <ol start="14">
    <li>For <i>the kingdom of heaven is</i> as a man travelling into a far country, <i>who</i> called his own servants, and delivered unto them his goods.</li>
    <li>And unto one he gave five talents, to another two, and to another one; to every man according to his several ability; and straightway took his journey.</li>
    <li>Then he that had received the five talents went and traded with the same, and made <i>them</i> other five talents.</li>
    <li>And likewise he that <i>had received</i> two, he also gained other two.</li>
    <li>But he that had received one went and digged in the earth, and hid his lord's money.</li>
    <br>
    <li>After a long time the lord of those servants cometh, and reckoneth with them.</li>
    <li>And so he that had received five talents came and brought other five talents, saying, Lord, thou deliveredst unto me five talents: behold, I have gained beside them five talents more.</li>
    <li>His lord said unto him, Well done, <i>thou</i> good and faithful servant: thou hast been faithful over a few things, I will make thee ruler over many things: enter thou into the joy of thy lord.</li>
    <li>He also that had received two talents came and said, Lord, thou deliveredst unto me two talents: behold, I have gained two other talents beside them.</li>
    <li>His lord said unto him, Well done, good and faithful servant; thou hast been faithful over a few things, I will make thee ruler over many things: enter thou into the joy of thy lord.</li>
    <br>
    <li>Then he which had received the one talent came and said, Lord, I knew thee that thou art an hard man, reaping where thou hast not sown, and gathering where thou hast not strawed:</li>
    <li>And I was afraid, and went and hid thy talent in the earth: lo, <i>there</i> thou hast <i>that is</i> thine.</li>
    <li>His lord answered and said unto him, <i>Thou</i> wicked and slothful servant, thou knewest that I reap where I sowed not, and gather where I have not strawed:</li>
    <li>Thou oughtest therefore to have put my money to the exchangers, and <i>then</i> at my coming I should have received mine own with usury.</li>
    <li>Take therefore the talent from him, and give <i>it</i> unto him which hath ten talents.</li>
    <li>For unto every one that hath shall be given, and he shall have abundance: but from him that hath not shall be taken away even that which he hath.</li>
    <li>And cast ye the unprofitable servant into outer darkness: there shall be weeping and gnashing of teeth.</li>
    </ol>
      <div class="bible-quote-source">Matthew 25:14-30</div>
  </div>

</raised-content-box>
