<!-- * Layouts / Partials / partial-vertical-navmenu.html -->

<nav class="sidebar-navmenu-main">
	<ul>
		<li><a href="/">Home</a></li>

		<li><a href="/From-The-East/index.html">From the East</a>
			<ul>
				<li><a href="/From-The-East/The-Godly-Qualities/index.html">The Godly Qualities</a></li>
				<li><a href="/From-The-East/The-Ruin-of-a-Human/index.html">The Ruin of a Human</a></li>
				<li><a href="/From-The-East/Zen-Stories/index.html">Zen Stories</a></li>
			</ul>
		</li>

		<li><a href="/From-The-West/index.html">From the West</a>
			<ul>
				<li><a href="/From-The-West/The-Parables-of-Jesus/index.html">The Parables of Jesus</a></li>
				<li><a href="/From-The-West/The-Desert-Fathers/index.html">The Desert Fathers</a></li>
			</ul>
		</li>

		<li><a href="/Readings/index.html">Readings</a>
			<ul>
				<li><a href="/Readings/Heart-of-Eastern-Mystical-Teaching/index.html">Heart of Eastern Mystical Teaching</a></li>
				<li><a href="/Readings/Works-of-CS-Lewis/index.html">Works of C.S. Lewis</a></li>
			</ul>
		</li>
		<li><a href="/Reference/index.html">Reference</a>
			<ul>
				<li><a href="/Reference/Sanskrit-Words/index.html">Sanskrit Words & Phrases</a></li>
				<li><a href="#">TBD</a></li>
			</ul>
		</li>

		<li><a href="#"><a href="#">Reflections</a></li>

		<li><a href="#">Schools</a>
			<ul>
				<li><a href="#">A</a></li>
				<li><a href="#">B</a></li>
			</ul>
		</li>

		<li><a href="/About/index.html">About This Site</a></li>
	</ul>
</nav>
