<!doctype html>

<html lang="en">
<head>

  {{ partial "partial-HTMLtag-head.html" . }}

</head>

<!-- <body>-->
{{ partial "partial-HTMLtag-body.html" . }}

  <main class="css-pagegrid-homepage">

    <header class="pagegrid-homepage-header">
      {{ partial "partial-HOAB-SiteHeader.html" . }}
    </header>

    <homepage-page-content class="pagegrid-homepage-page-content  boxed-red-border">

      <h1 class="k99-text-align-center">Welcome to “In The Heart of All Beings”</h1>

      <p class="default-paragraph-text  k99-text-align-center">
        <i>Each of us,</i> at the very core of our existence, is lit by the divine. 
        Part of the history of mankind is striving to express that divine light in words. 
        But, as Dante discovered in writing The Divine Comedy; ultimately, words fail:
      </p>

      <div class="flex-row-center">
        <div class="standard-quote-text quote-border-bottom">
          My pen leaps over it; I do not write:<br>
          our fantasy and, all the more so, speech<br>
          are far too gross for painting folds so deep.
          <p class="standard-quote-source">   
            The Divine Comedy Paradiso Canto XXIV 25-27
          </p>
        </div>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="standard-quote-text quote-border-bottom">
          And thus, in representing Paradise,<br>
          the sacred poem has to leap across,<br>
          as does a man who finds his path cut off
          <p class="standard-quote-source">
            The Divine Comedy Paradiso Canto XXIII 61-63
          </p>
        </div>

      </div>

      <div class="spacer-2rem"> </div>
      <div class="default-paragraph-text  k99-text-align-center" style="margin-left: 40px; margin-right: 40px;">
        <i>While words may fail,</i> we, like Dante, still strive to express the inexpressible. 
        The “I” of I am. The “I” to which we attach to every feeling, thought and action. 
        I am happy, I am sad, I am thinking, I am doing. . .<br><br>
        <i>Yet there may come a time</i> – whether by luck or by chance; by effort or wholly by grace – 
        we stop and inquire as to who this inexpressible “I” truly is. 
        We stop and inquire into THE HEART OF OUR BEING
      </div>

      <p class="thinline"> </p>

      <div class="standard-quote-text">
        God made sense turn outward, man therefore looks outward, not into himself.<br>
        Now and again a daring soul, desiring immortality, has looked back and found himself.
        <p class="standard-quote-source">Katha Upanishad 2.1.1</p>
      </div>

      <p class="thinline"> </p>

      <div class="bible-quote-text k99-text-align-center">
        My sheep hear my voice, and I know them, and they follow me:<br>
        And I give unto them eternal life; and they shall never perish,<br>
        neither shall any <i>man</i> pluck them out of my hand.<br>
        My Father, which gave <i>them</i> me, is greater than all;<br>
        and no <i>man</i> is able to pluck <i>them</i> out of my Father’s hand.<br>
        I and <i>my</i> Father are one.
        <p class="bible-quote-source k99-text-align-center">John 10:27-30 (King James Version) </p>
      </div>

      <p class="thinline"> </p>

      <div class="standard-quote-text">
        When the sun has set, Yājñavalkya and the moon has set and the fire has gone out<br>
        and speech has stopped, what serves as light for a man?<br>
        The self, indeed, is his light, for with the self as light he sits, goes out, works and returns.
        <p class="standard-quote-source">Brihadaranyaka Upanishad 4.3</p>
      </div>
    </homepage-page-content>
  
    <section class="pagegrid-homepage-right-sidebar  boxed-red-border">
      <h2>Around This Website</h2>
      {{ partial "partial-Sidebar-Navmenu-Main.html" . }}
    </section>
    
    <footer class="pagegrid-homepage-footer">
      {{ partial "partial-HOAB-SiteFooter.html" . }}
    </foo>

  </main>

<br>
<br>

</body>
</html>
